Web/WebService_Session-1/TemperatureWS/WebContent/wsdl/FahrenheitToCelsius.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.temperature.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.temperature.com" xmlns:intf="http://webservices.temperature.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.temperature.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenheitToCelsiusConvertor">
    <complexType>
     <sequence>
      <element name="fahrenheit" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenheitToCelsiusConvertorResponse">
    <complexType>
     <sequence>
      <element name="fahrenheitToCelsiusConvertorReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenheitToCelsiusConvertorRequest">

      <wsdl:part element="impl:fahrenheitToCelsiusConvertor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenheitToCelsiusConvertorResponse">

      <wsdl:part element="impl:fahrenheitToCelsiusConvertorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FahrenheitToCelsius">

      <wsdl:operation name="fahrenheitToCelsiusConvertor">

         <wsdl:input message="impl:fahrenheitToCelsiusConvertorRequest" name="fahrenheitToCelsiusConvertorRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenheitToCelsiusConvertorResponse" name="fahrenheitToCelsiusConvertorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FahrenheitToCelsiusSoapBinding" type="impl:FahrenheitToCelsius">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenheitToCelsiusConvertor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenheitToCelsiusConvertorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenheitToCelsiusConvertorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FahrenheitToCelsiusService">

      <wsdl:port binding="impl:FahrenheitToCelsiusSoapBinding" name="FahrenheitToCelsius">

         <wsdlsoap:address location="http://localhost:8080/TemperatureWS/services/FahrenheitToCelsius"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
